.search-form-field {
  width: 35%;
  padding-bottom: 0.75em;
}

.search-btn {
  background-color: white;
}

.search-input-wrapper {
  background-color: white;
  border-radius: 15px;
  display: flex;
  padding: 0.25em;
}

.search-input {
  display: inline-block;
}

.search-container {
  max-height: 3.5rem;
}
