.margin-auto {
  margin: auto;
}

.inline-block {
  display: inline-block;
}

.student-class {
  margin: 5px;
  text-emphasis: center;
}

figcaption.ratings a {
  color: #f1c40f;
  font-size: 11px;
  background-color: -linear-gradient(left, grey 25%, white 75%);
}

figcaption.ratings a:hover {
  color: #f39c12;
  text-decoration: none;
}

.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.class-emphasis {
  background: #1abc9c;
  border-radius: 5px;
  color: #f5f5f5;
  font-weight: bold;
  padding: 2px 4px;
}
